/* Universal Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* All Variable */
:root {
    --primary-color: #FF900E;
}

/* ------------------------------------------------
             Common Styles or Utilities
--------------------------------------------------- */
body {
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0px .5px .5px rgba(81,67,21,0.8);
}

/* Header and Footer Section Style */
header,
footer {
    background: rgba(255, 144, 14, 0.1);
}

/* All Section Common Style */
section {
    max-width: 1200px;
    margin: 0px 20px;
    margin: auto;
}

/* All Common btn Style */
.btn {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* All img Drop Shadow */
img{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
}

/* ------------------------------------------------
               Header Section Style
--------------------------------------------------- */
/* Navigation Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.nav-tittle {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.nav-items ul li a:hover{
    background-color: #FF900E;
    color: aliceblue;
}

/* Header Text Section Style */
.brand-text-box {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    width: 60%;
}

.brand-tittle {
    font-size: 4rem;
    font-weight: 700;
}

.brand-sub-tittle {
    margin-top: 20px;
}

.brand-btn {
    margin-top: 30px;
}

/* Header Banner Section Style */
.header-banner {
    margin-top: 2rem;
}

.header-banner img {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

/* ------------------------------------------------
                Section One Style
--------------------------------------------------- */
.section-one {
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.future-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.future-text h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.future-text p {
    color: #727272;
    margin-bottom: 30px;
}

.future-text-quick {
    font-weight: 500;
    font-size: 45px;
    color: #727272;

}

.primary-color {
    color: var(--primary-color);
}

/* ------------------------------------------------
                Section Two Style
--------------------------------------------------- */
.section-two {
    display: flex;
    gap: 50px;
    margin-top: 5rem;

}

.future-text-box h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: .5rem solid var(--primary-color);
    padding: 1rem;
}

.future-text-box p {
    margin-top: 25px;
    color: #727272;
}

.future-text-card {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 1rem;
    border-radius: 5px;
}

.future-banner-img {
    display: flex;
    flex-direction: column;
}

.exp-btn {
    width: 250px;
    height: 150px;
    margin-top: -80px;
    margin-left: -40px;
    font-weight: 700;
    font-size: 30px;
}

/* ------------------------------------------------
                Section Three Style
--------------------------------------------------- */

.section-three {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-section-one {
    padding: 5rem 1rem;
    text-align: center;
    background-color: #FF900E;
    color: aliceblue;
}

.exp-section-one h1 {
    font-size: 100px;
    font-weight: 800;
}

.exp-section-one h1,
h2,
h6 {
    padding-top: .15rem;
}

.exp-section-two {
    padding: 1rem;
    font-size: 35px;
    font-weight: 600;
}

.exp-section-three {
    font-size: 20px;
    padding-left: 3rem;
    border-left: .5rem solid #FF900E;
}

/* ------------------------------------------------
                Section Four Style
--------------------------------------------------- */
.section-four {
    margin-top: 2rem;
}

.facts-tittle h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.facts-tittle p {
    color: #727272;
    margin-top: 1rem;
}

.facts-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

.facts-item {
    padding: 2rem 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.facts-item:hover {
    color: white;
    animation-name: fact-item-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}

@keyframes fact-item-animation {
    from {}

    to {
        background-color: aquamarine;
        padding: 3rem 3.5rem;
    }
}

.facts-item h1 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.facts-item h5 {
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}

/* ------------------------------------------------
                Section Five Style
--------------------------------------------------- */

.section-five {
    text-align: center;
}

.sponspors h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 3rem;
}

.sponspors p {
    color: #727272;
    margin-top: 1rem;
}

.sponsors-logo {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
}

.sponsors-logo img {
    filter: grayscale(100%);
    box-shadow: none;
}

/* ------------------------------------------------
                  Footer Style
--------------------------------------------------- */


footer {
    height: 100px;
    text-align: center;
    padding-top: 2rem;
}

/* ------------------------------------------------
         Media Quire For Responsive Website
--------------------------------------------------- */

/* Mobile Devices */
@media only screen and (max-width:577px) {

    /* Body Style */
    body {
        width: 100%;
    }

    /* Navigation Style */
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
        background-color: #FF900E;
        color: aliceblue;
    }

    .nav-items {
        display: none;
    }

    /* Header Text Style */
    .brand-text-box {
        width: auto;
    }

    .brand-tittle {
        font-size: 2rem;
        font-weight: 700;
    }

    /* Section One Style */
    .section-one {
        display: flex;
        flex-direction: column-reverse;
    }

    .future-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: .5rem;
    }

    .future-text {
        padding-left: 1rem;
    }

    /* Section Two Style */
    .section-two {
        display: flex;
        flex-direction: column;
        margin: .5rem;

    }

    .exp-btn {
        margin-top: -4rem;
        margin-left: 3rem;
        height: 100px;
    }

    /* Section Three Style */

    .section-three {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: .5rem;
    }

    .exp-section-one {
        display: none;
    }

    .exp-section-three {
        margin-left: 1rem;
        padding-left: 1rem;
    }

    /* Section Four Style */
    .section-four {
        margin: .5rem;
    }

    .facts-items {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
    }

    /* Section Five Style */
    .section-five {
        margin: .5rem;
    }

    .sponsors-logo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem;
    }

    /* Footer Section Style */
    footer {
        height: 120px;
    }
}

/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {}